.parrafoindex2 {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  margin: auto;
  font-size: large;
}
th,
td {
  background-color: darkgray;
  padding: 3px;
}
th {
  color: white;
}
.parrafoindex3 {
  text-align: center;
  border: 2px dotted black;
  width: 70%;
  font-size: 25px;
  position: absolute;
  left: 15%;
}
